# 🏆 IndieWeb wiki leaderboard

In the last 30 days, the following users have been active on the [IndieWeb wiki](https://indieweb.org).

| Rank | Actions | User |
|-----:|--------:|:-----|
{% for entry in leaderboard -%}
| **{{ forloop.index }}** | [{{ entry.actions }}]({{ entry.contributions }}) | <span>{{ entry.user }}</span> |
{% endfor %}

## Colophon

Data is gathered from the [Active users list]({{ url }}) page and is also available [in JSON format](https://github.com/jgarber623/indieweb-wiki-leaderboard/blob/main/data/leaderboard.json). The leaderboard was last updated on {{ datestamp }} at {{ timestamp }}.

## License

This work is dedicated to the public domain per the [Creative Commons CC0 1.0 Universal Public Domain Dedication](https://creativecommons.org/publicdomain/zero/1.0/). You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.
